@import './variables.scss';


.header {
    background-color: transparent;
    transition: 0.5s;
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100vw;


    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 10px;
    }

    &:hover {
        background-color: $third-color;
    }
}

.header2 {
    background-color: $third-color;
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100vw;


    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 10px;
    }
}