@import './variables.scss';


.Nav {
    height: auto;
    display: flex;
}

// when scrolled
.header {
    background-color: transparent;
    transition: 0.5s;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100vw;


    .Title {
        display: none;
    }


    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 10px;
        list-style-type: none;

    }

    &:hover {
        background-color: $fourth-color;
        box-shadow: 0px 0px 10px 0px black;
    }
}


// when not scrolled
.header2 {
    background-color: $third-color;
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100vw;

    .Title {
        position: absolute;
        left: 10%;
        transform: translate(-50%, -50%);
        // padding-top: 150px;
    }

    .UserProfileCart{
        font-size: x-large;
        position: absolute;
        right: 10%;
    }

    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
    }
}